h4 {
  font-weight: 700;
  padding: 0;
  margin: 0px;
}


a {
  text-decoration: none;
  color: white
}
.subtext {
  font-style: italic;
  font-weight: 100;
  font-size: smaller;
}

.main{
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin: 1% 2%;
}

.table-section{
  background-color:lightgray;
}
